.profile-image img {
  width: 90px; /* Use viewport width for image size */
  height: 90px; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 50%;
  margin-left: -10px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items to the center */
  width: 100%;
  padding-left: 15px;
  padding-top: 20px;
}

.profile-info {
  flex: 1;
  text-align: left;
  font-size: 0.8rem; /* Shrink the text size */
  padding-left: 25px;
  margin-bottom: 10px;
}

.profile-info p {
  margin: 0; /* Remove the default margin */
  line-height: 1.3; /* Adjust the line-height to control vertical spacing */
}

.profile-info a {
  color: lightgrey;
  text-decoration: none;
}

.profile-name {
  font-size: 1.5rem;
}

.profile-title {
  font-size: 0.9rem;
  color: grey;
}

.profile-text {
  padding-top: 10px;
}

.profile-text h3 {
  font-size: 0.9rem;
}

.profile-text-p {
  font-size: 0.9rem;
  color: rgb(159, 145, 145);
  margin-top: -5px;
  line-height: 1.3;
}

.links {
  display: flex;
  gap: 5px;
  padding-top: 5px;
}
