.content-container {
  width: 470px;
  margin: 0 auto; /* Centers the container */
  padding-top: 75px;
}

@media (max-width: 768px) {
  .content-container {
    width: 80%; /* Adjust width for smaller screens */
  }
}

body {
  font-size: 12px; /* Default font size */
}

@media (max-width: 768px) {
  body {
    font-size: 10px; /* Adjust font size for smaller screens */
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: normal; /* Remove bold styling */
}
