.school-logo img {
  width: 40px; /* Reduce the width */
  height: 40px; /* Reduce the height */
  margin-right: 20px; /* Add some space between the logo and the text */
}

.education-section {
  display: flex;
  justify-content: lef;
  align-items: center;
  text-align: left;
  padding-top: 15px;
}

.education-container {
  display: flex;
  flex-direction: column; /* Change to row to align items side by side */
  justify-content: space-between; /* Distribute space between items */
  align-items: flex-start; /* Align items to the top */
  width: 100%;
}

.school-time-period {
  padding-left: 120px; /* Add space between the job description and time period */
  white-space: nowrap; /* Prevent the time period from wrapping */
  font-size: 0.8rem;
  text-align: right;
  align-items: flex-end;
  color: rgb(164, 164, 164);
}

.education-details {
  display: flex;
  align-items: center; /* Align the logo, title, and time period horizontally */
}

.school {
  display: flex;
  flex-direction: row; /* Ensure job title and time period are side by side */
  align-items: center;
  font-size: 0.9rem;
}

.degree {
  list-style-type: "- "; /* Change bullet points to dashes */
  margin-top: -10px; /* Add space between the title and description */
  font-size: 0.9rem;
  color: rgb(164, 164, 164);
  margin-left: 60px;
}
