body {
  margin: 0;
  font-family: "Arial", sans-serif; /* Use a sans-serif font */
  background-color: #000; /* Set the background color to black */
  color: #fff; /* Optional: Set text color to white for contrast */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
